<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Birrols{% endblock %}</title>
        {% block stylesheets %}
        <link href="{{ asset('css/birrols.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            {% block header %}
            <div id="cabecera_in">
                <div id="aux_1">
                    <div id="titulo">
                        <h1><a href="{{ path('index') }}" title="">
                                <img src="{{ asset('img/logo_ocb_01_60.png') }}" alt="Birrols"/>
                            </a>
                        </h1>
                        <h2> <span id='subtitle_1'>{{ title_1|default('CERVEZA') }} </span>
                        <span id='subtitle_2'>{{ title_2|default('ARTESANA') }} </span></h2>
                    </div> <!-- titulo -->
                    <div id="aux_2">
                    <div id="login">
                    {#% render "BirrolsSecurityBundle:Security:login" with {'target': app.request.attributes.get('_route') } %#}
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': '<a href="'~ path('fos_user_profile_show') ~ '">' ~ app.user.username ~ '</a>'}, 'FOSUserBundle') | raw }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
            {% for key, message in app.session.getFlashes() %}
                <div class="{{ key }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        </div>

                    </div> <!-- login -->

                    <div id="menu">
                        <ul id="menu_ul" class="superfish">
                            <li>
                                <a href="{{ path('beers') }}" title="Cervezas">
                                    Cervezas
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('businesses') }}" title="Empresas">
                                    Empresas
                                </a>
                            </li>
                        </ul>
                    </div> <!-- menu -->
                    </div> <!-- aux_2 -->
                    <div id="fake-aux_1" style="clear: both;"></div>
                </div> <!-- aux_1 -->
                <div class="social-env">
                    <ul>
                        <li>
                            <a href="http://www.facebook.com/share.php?u=http%3A%2F%2Fwww.birrols.com&amp;t=Birrols,+el+portal+para+amantes+de+la+cerveza+artesana" title="Facebook" onClick="window.open(this.href); return false;">
                                <img src="{{ asset('img/facebook_16x16.png') }}" title="Facebook" alt="Facebook" class="social" />
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow"  href="http://identi.ca/notice/new?status_textarea=http%3A%2F%2Fwww.birrols.com" title="Identi.ca" onClick="window.open(this.href); return false;">
                                <img src="{{ asset('img/identi.ca.png') }}" title="Identi.ca" alt="Identi.ca"  class="social" />
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow"  href="http://twitter.com/home?status=Birrols%20-%20http%3A%2F%2Fwww.birrols.com%2F" title="Twitter" onClick="window.open(this.href); return false;">
                                <img src="{{ asset('img/twitter-icon.png') }}" title="Twitter" alt="Twitter" class="social" />
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow"  href="http://www.tuenti.com/share?url=http%3A%2F%2Fwww.birrols.com" title="Twitter" onClick="window.open(this.href); return false;">
                                <img src="{{ asset('img/tuenti.png') }}" title="Tuenti" alt="Tuenti" class="social" />
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow"  href="http://www.google.com/buzz/post?url=http%3A%2F%2Fwww.birrols.com&amp;imageurl=http%3A%2F%2Fwww.birrols.com%2F//img/logo_ocb_01_60.png" title="Buzz" onClick="window.open(this.href); return false;">
                                <img src="{{ asset('img/buzz.png') }}" title="Buzz" alt="Buzz" class="social" />
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow"  href="http://www.google.com/bookmarks/mark?op=edit&amp;bkmk=http%3A%2F%2Fwww.birrols.com&amp;annotation=Birrols" title="Google Bookmarks" onClick="window.open(this.href); return false;">
                                <img src="{{ asset('img/google_bookmarks.png') }}" title="Google Bookmarks" alt="Google Bookmarks" class="social" />
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow"  href="mailto:?subject=Birrols,+el+portal+para+amantes+de+la+cerveza+artesana&amp;body=http%3A%2F%2Fwww.birrols.com" title="email" onClick="window.open(this.href); return false;">
                                <img src="{{ asset('img/common/email.png') }}" title="email" alt="email" class="social" />
                            </a>
                        </li>
                    </ul>
                </div> <!-- social-env -->
                <div id="ayuda" class="login">
                    <ul>
                        <li class="noborder">
                            <a href="{{ path('about') }}" title="Acerca de Birrols - Qué es Birrols y FAQ">
                                Acerca de Birrols
                            </a>
                            </li>
                        <li>
                            <a href="{{ path('legal') }}" title="Términos y condiciones">
                                Legal
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('contact') }}" title="Contacta con el equipo de Birrols">
                                Contacto
                            </a>
                        </li>
                    </ul>
                </div> <!-- ayuda -->
                <div id="fake-cabecera" style="clear: both;"></div>
            </div> <!-- cabecera_in -->
        {% endblock %}
            </header>
        {% block body %}{% endblock %}
            {% if app.debug %}
            {#    <p>Username: {{ app.user.username }}</p> 
                <p>Request method: {{ app.request.method }}</p>
                <p>Application Environment: {{ app.environment }}</p>#}
                <p>request locale: {{app.request.locale}}</p>
                {#<p>session locale: {{app.session.get('locale')}}</p>#}
                {#<p>request: {{dump(app.request)}}</p>#}
                {#<p>session: {{dump(app.session)}}</p>#}
            {% endif %}
        {% block footer %}
            <footer>
		<p>Birrols Todos los derechos reservados </p>
		<p>Birrols es Software Libre bajo licencia 
                    <a id="gnu" href="http://www.gnu.org/copyleft/gpl.html" target="_blank">
                        GNU General Public License
                    </a>
                </p>
		<p>
                    <a href="http://validator.w3.org/check?uri=referer">
                        <img src="http://www.w3.org/Icons/valid-xhtml10-blue" alt="Valid XHTML 1.0 Transitional" />
                    </a>
                </p>
            </footer>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
